<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Ignis.home.funding.mapper.FundingMapper">

    <!-- 전체 목록 -->
    <select id="selectFundingList" resultType="com.Ignis.home.funding.domain.Funding">
        SELECT 
            funding_id AS fundingId,
            user_id AS userId,
            title,
            description,
            max_price AS maxPrice,
            current_price AS currentPrice,
            image_path AS imagePath,
            status,
            reject_reason AS rejectReason,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM funding
        WHERE status = 'APPROVED'
        ORDER BY created_at DESC
    </select>

    <!-- 상세 조회 -->
    <select id="selectFundingById" resultType="com.Ignis.home.funding.domain.Funding">
        SELECT 
            funding_id AS fundingId,
            user_id AS userId,
            title,
            description,
            max_price AS maxPrice,
            current_price AS currentPrice,
            image_path AS imagePath,
            status,
            reject_reason AS rejectReason,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM funding
        WHERE funding_id = #{fundingId}
    </select>

    <!-- 등록 -->
    <insert id="insertFunding" parameterType="com.Ignis.home.funding.domain.Funding">
        INSERT INTO funding (
            user_id,
            title,
            description,
            max_price,
            current_price,
            image_path,
            status,
            reject_reason,
            created_at,
            updated_at
        ) VALUES (
            #{userId},
            #{title},
            #{description},
            #{maxPrice},
            #{currentPrice},
            #{imagePath},
            #{status},
            #{rejectReason},
            NOW(),
            NOW()
        )
    </insert>
    
    <select id="selectRecentFundingList" resultType="com.Ignis.home.funding.domain.Funding">
	    SELECT
	        funding_id AS fundingId,
	        user_id AS userId,
	        title,
	        description,
	        image_path AS imagePath,
	        max_price AS maxPrice,
	        current_price AS currentPrice,
	        status,
	        created_at AS createdAt,
	        updated_at AS updatedAt
	    FROM funding
	    WHERE status = 'APPROVED'
	    ORDER BY created_at DESC
	    LIMIT #{limit}
	</select>
    

</mapper>
