<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/headerStyle :: headerStyle" />
    <meta charset="UTF-8">
    <title>글 상세</title>
</head>
<body>
<div th:replace="~{fragments/header :: commonHeader}"></div>
<h1>글 상세</h1>
<div>
    <strong>제목:</strong>
    <p th:text="${post.title}">제목</p>
</div>
<div>
    <strong>작성일:</strong>
    <p th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">작성일</p>
</div>
<div>
    <strong>내용:</strong>
    <p th:text="${post.content}">내용</p>
</div>
<a th:href="@{/post/post-list-view}">목록으로</a>
<a th:href="@{'/post/post-update-view/' + ${post.postId}}">수정하기</a>
</body>
</html>