<!-- fragments/header.html -->
<div th:fragment="commonHeader">
    <header class="header">
        <div class="logo">
            <span class="logo-icon"></span>
            IGNIS
        </div>
        <nav class="nav-links">
            <a href="/">홈</a>
            <a href="/donation/donation-list-view">기부</a>
            <a href="/volunteer/volunteer-list-view">봉사</a>
            <a href="/funding/funding-list-view">펀딩</a>
            <a href="/mypage">마이페이지</a>
            <a href="/user/login">로그인</a>
        </nav>
    </header>
</div>